@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #4F8099; /* Light blue background color */
}

/* button:hover,
input[type='submit']:hover {
  color: white;
  background-color: #0038ff;
  border: 1px solid #0038ff;
  cursor: pointer;
} */

/* button,
input[type='submit'] {
  padding: 0.4rem;
  background-color: #0056ff;
  border: 1px solid #0056ff;
  color: white;
  border-radius: 3px;
} */

/* a {
  color: #0038ff;
  margin-right: 1rem;
  font-weight: 450;
} */

/* a:last-child {
  margin: 0;
} */

.hidden {
  display: none !important;
}

/* .brandName {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0038ff;
} */

/* #SignInButton:hover,
#SignInButton {
  padding: 0.4rem;
  border: 1px solid #0038ff;
  border-radius: 0.5rem;
  margin-right: 0;
  color: #0038ff;
} */

#wrapper {
  display: grid;
  grid-template-columns: 20vw 80vh;
}

#left-sidebar {
  padding: 1rem;
  min-height: 100vh; /* Set to min-height to ensure it takes at least the full viewport height */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Push content to the top and bottom */
  border-right: 2px solid #05293C;
  background-color: #05293C; /* Darker background color */
}

/* .menu-routing {
  margin: 1rem 0;
  padding: 0.4rem;
  text-align: center;
  border: 2px solid #0038ff;
  border-radius: 10px;
  max-width: fit-content;
  display: flex;
} */

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.grid-container {
  width: 80%;
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  overflow: auto;
}

.grid-item {
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #f2f6ff; /* Light blue grid item background color */
}

#judul {
  padding: 25%;
  margin-top: 10%;
  color: whitesmoke;
}

.voting-box {
  color: #0056ff;
  padding: 10%;
  margin-left: 10%;
}

#judul1{
  margin-left: 100%;
}
#judul2{
  margin-left: 105%;
}
#request{
  margin-left: -85%;
  font-weight: bold;
  color: #f2f6ff;
}
#Selamat{
  margin-top: 20%;
  color: #f2f6ff;
  margin-left: 20%;
}

#create_button {
  margin-top: -325%;
  background-color: #0EA5E9; /* Dark blue button color */
  color: #f2f6ff;
  padding: 0.4rem;
  border: 1px solid #0EA5E9;
  border-radius: 3px;
  margin-left: -5%;
  display: inline-block; /* Set to inline-block to make it a button-like element */
  text-decoration: none; /* Remove underline for links */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

#create_button:hover {
  background-color: #0EA5E9; /* Dark blue hover color */
  border: 1px solid #0EA5E9;
  cursor: pointer;
}
.voting-box h2 {
  color: white;
}
/* .top-section{
  border-bottom: 2px solid #f2f6ff;
  border-width: 1%;

} */

