<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/default-styling.css">
    <link rel="stylesheet" href="/css/form-styling.css">
</head>

<body>
    <div id="wrapper">
        <section id="left-sidebar">
            <h2>Selamat Datang, ${nama-lengkap}.</h2>
            <%- include('nav-link/sidebar'); %>
              
        
    </div>
</body>