<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="/css/login.css">
    <!-- <link rel="stylesheet" href="/css/default-styling.css">
    <link rel="stylesheet" href="/css/form-styling.css"> -->
</head>
<!-- Login EJS -->
<div id="login" class="overlay">
    <div class="external-window-container">
        <div class="window-container">
            <div class="form-title">
                <h1 class="brandName form-brand">Aplikasi Voting</h1>
                <% if (success) { %>
                    <p class="alert success">
                        <%= errorMsg %>
                    </p>
                    <% } else { %>
                        <p class="alert">
                            <%= errorMsg %>
                        </p>
                        <% } %>
            </div>
            <form action="/login" method="post" id="loginForm">
                <label for="email">Email :</label>
                <input type="email" name="email" id="email">
                <label for="password">Password :</label>
                <input type="password" name="password" id="loginPass">
                <input type="submit" value="Log In" id="submit">
            </form>
        </div>
    </div>
</div>