<div class="links-container" id="sidebar">
    <h3>Sidebar</h3>
    <a href="/YourPolls" target="_blank" class="menu-routing">Your Polls</a>
    <a href="/CreatePoll" target="_blank" class="menu-routing">Create a pool</a>
   
</div>